* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#pagina-login {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.cards-empresa-candidato {
   position: relative;
   z-index: 1;
   background-color: purple;
   border-radius: 15px;
   width: 350px;
   height: 450px;
   padding: 30px 35px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.nome {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   margin-bottom: 30px;
}

.nome i {
   font-size: 30px;
   margin-right: 30px;
}

.nome h1 {
   font-size: 35px;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 5px;
}

form label {
   color: white;
   font-weight: 500;
   font-size: 16px;
}

form input {
   border-radius: 20px;
   border: none;
   text-decoration: none;
   padding: 10px 0px;
   margin-bottom: 15px;
}

.opcoes {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 5px;
}

.opcoes label {
   display: flex;
}

.opcoes label input {
   border: none;
   text-decoration: none;
   width: 20px;
   height: 18px;
   margin-right: 5px;
}

.opcoes a {
   color: white;
}

.cards-empresa-candidato button {
   background-color: white;
   border: none;
   text-decoration: none;
   padding: 15px 0px;
   border-radius: 20px;
   width: 50%;
   margin: 0 auto;
   margin-top: 25px;
   font-size: 16px;
   text-transform: uppercase;
   color: purple;
}

.cards-empresa-candidato button:hover {
   cursor: pointer;
}

.criar-conta {
   color: white;
   margin: 0 auto;
   margin-top: 15px;
   font-weight: 700;
   text-decoration: none;
}

#card {
   background-color: white;
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   width: 530px;
   height: 630px;
   padding-top: 0;
}

#logo {
   width: 300px;
   height: 200px;
   object-fit: cover;
   object-position: center;
}

#slogan {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 25px 0px;
}

#slogan span {
   display: block;
   text-align: center;
   color: purple;
   text-shadow: 2px 2px 4px rgba(85, 26, 114, 0.2);
   white-space: nowrap;
   overflow: hidden;
   width: 0;
}

#slogan span:nth-child(1) {
   animation: escrever1 8s ease-in-out infinite;
}

#slogan span:nth-child(2) {
   animation: escrever2 8s ease-in-out infinite;
}

#slogan span:nth-child(3) {
   animation: escrever3 8s ease-in-out infinite;
}

@keyframes escrever1 {
   0% {
      width: 0;
   }

   15% {
      width: 100%;
   }

   60% {
      width: 100%;
   }

   100% {
      width: 0;
   }
}

@keyframes escrever2 {
   0%,
   15% {
      width: 0;
   }

   30% {
      width: 100%;
   }

   60% {
      width: 100%;
   }

   100% {
      width: 0;
   }
}

@keyframes escrever3 {
   0%,
   30% {
      width: 0;
   }

   45% {
      width: 100%;
   }

   60% {
      width: 100%;
   }

   100% {
      width: 0;
   }
}

#img-inclusaoSocial {
   width: 100%;
   height: 250px;
   object-fit: cover;
   margin-bottom: 15px;
}


